/* **************************** About Comp Styles **************************** */

body {
    background: var(--darkwhite);
}

/* ********************* About Content ********************* */

section#about div.about {
    margin: 5rem auto;
    padding: 1rem 0;
    background: var(--darkwhite);
}

section#about div.about h3 {
    position: relative;
    margin: 2rem 1rem 3rem;
    font-size: 3.6rem;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    color: var(--lightblack);
    letter-spacing: 0.5px;
}

section#about div.about h3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(50%);
    width: 15%;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(145deg, var(--darkviolet), var(--lightviolet));
}

section#about div.about p {
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    color: var(--lightblack);
    letter-spacing: 0.5px;
    text-align: justify;
}

section#about div.about span {
    color: var(--darkviolet);
    -webkit-text-stroke: 0.06rem var(--darkviolet);
}

section#about div.about blockquote {
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Roboto Slab", serif;
    color: var(--darkblack);
    background: rgba(105, 97, 245, 0.1);
    border-left: 4px solid rgba(105, 97, 245, 1);
    border-radius: 0 2px 2px 0;
    font-style: italic;
}

section#about div.about img {
    margin: 2rem auto;
    width: 100%;
    height: auto;
}

/* **************************** Our Divisions Content **************************** */

/* Division Header */
section#division div.division_header {
    margin: 5rem auto auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#division div.division_header h2 {
    margin: 1rem auto;
    font-size: 4.5rem;
    font-weight: 700;
    font-family: "Aquire", "Poppins", sans-serif;
    color: var(--darkblack);
    text-align: center;
    letter-spacing: 1px;
}

/* Division Content */
section#division div.division_content {
    margin: auto auto 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section#division div.div_card {
    margin: 4rem 2rem 1rem;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: var(--darkwhite);
    border: 4px solid var(--lightwhite);
    border-radius: 4px;
    transition: all 0.5s ease;
}

section#division div.div_card:hover {
    box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.1);
}

section#division div.div_card h3 {
    margin: 10px auto;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: var(--lightblack);
    text-align: center;
    transition: all 0.5s ease;
}

section#division div.div_card p {
    margin: 10px auto;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    color: var(--darkgrey);
    letter-spacing: 0.5px;
    text-align: center;
}

section#division div.div_card p span {
    color: var(--darkgrey);
    -webkit-text-stroke: 0.06rem var(--darkgrey);
}

section#division div.div_card .icon_holder {
    margin: 1.5rem auto 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#division div.div_card .icon_holder span {
    width: 8rem;
    height: 8rem;
    transform: rotate(45deg);
    background: rgba(244, 244, 244, 1);
    border-radius: 4px;
    transition: all 0.5s ease;
}

section#division div.div_card:hover:nth-child(1) .icon_holder span {
    background: var(--lightpink);
}
section#division div.div_card:hover:nth-child(2) .icon_holder span {
    background: var(--lightgreen);
}
section#division div.div_card:hover:nth-child(3) .icon_holder span {
    background: var(--lightorange);
}
section#division div.div_card:hover:nth-child(4) .icon_holder span {
    background: var(--lightblue);
}

section#division div.div_card .icon_holder svg {
    position: absolute;
    font-size: 3.8rem;
    font-weight: 500;
    color: var(--lightblack);
    transition: all 0.5s ease;
}

section#division div.div_card:nth-child(1) .icon_holder svg {
    color: var(--lightpink);
}
section#division div.div_card:nth-child(2) .icon_holder svg {
    color: var(--lightgreen);
}
section#division div.div_card:nth-child(3) .icon_holder svg {
    color: var(--lightorange);
}
section#division div.div_card:nth-child(4) .icon_holder svg {
    color: var(--lightblue);
}

section#division div.div_card:hover .icon_holder svg {
    color: var(--darkwhite);
}

/* **************************** Our Collaborations Content **************************** */

/* Collaborations Header */
section#collaboration div.collaborations_header {
    margin: 5rem auto auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#collaboration div.collaborations_header h2 {
    margin: 1rem auto;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Aquire", "Poppins", sans-serif;
    color: var(--darkblack);
    text-align: center;
    letter-spacing: 1px;
}

/* Collaborations Content */
section#collaboration div.collaborations_content {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section#collaboration div.collaborations_content img {
    margin: 10px;
    padding: 10px;
    width: 10rem;
    height: auto;
}

/* **************************** Our Community Content **************************** */

/* Community Header */
section#community div.community_header {
    margin: 5rem auto auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#community div.community_header h2 {
    margin: 1rem auto;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Aquire", "Poppins", sans-serif;
    color: var(--darkblack);
    text-align: center;
    letter-spacing: 1px;
}

/* Community Content */
section#community div.community_content {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section#community div.community_content img {
    margin: 10px;
    padding: 10px;
    width: 10rem;
    height: auto;
}

/* **************************** Responsive Media **************************** */

@media (max-width: 768px) {
    section#about div.about img {
        display: none;
    }

    section#division div.division_header h2 {
        font-size: 4rem;
    }

    section#division div.div_card .icon_holder span {
        width: 7rem;
        height: 7rem;
    }

    section#collaboration div.collaborations_header h2,
    section#community div.community_header h2 {
        font-size: 3.5rem;
    }
}

/* **************************** Styles End **************************** */
