/* **************************** Home Comp Styles **************************** */

body {
    background: var(--darkwhite);
}

section#home {
    background: var(--mediumBg);
}

/* **************************** Home Introduction **************************** */

section#home div.home_intro {
    margin: 5rem auto 2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#home div.home_intro .item_content h2 {
    margin: 2rem auto;
    font-size: 8rem;
    font-weight: 700;
    font-family: "Aquire", "Poppins", sans-serif;
    color: var(--darkwhite);
}

section#home div.home_intro .item_content h3 {
    margin: 2rem auto;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--lightwhite);
}

section#home div.home_intro .item_content h4 {
    margin: 2rem auto;
    font-size: 2rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--lightwhite);
    letter-spacing: 1px;
}

section#home div.home_intro .item_content p {
    position: relative;
    z-index: 1;
}

section#home div.home_intro .item_content p span {
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Aquire", "Poppins", sans-serif;
    color: var(--darkwhite);
    background: var(--lightred);
    letter-spacing: 1px;
    border-radius: 5px;
}

section#home div.home_intro .item_content p img {
    position: absolute;
    top: 45%;
    left: 25%;
    width: 10rem;
    height: auto;
    z-index: -1;
}

section#home div.home_intro .item_figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#home div.home_intro .item_figure img {
    margin: auto;
    width: 100%;
    height: auto;
}

/* Home Introduction Responsive */
@media (max-width: 768px) {
    section#home div.home_intro {
        margin: 8rem auto 5rem;
        flex-wrap: wrap-reverse;
    }

    section#home div.home_intro .item_content p img {
        left: 35%;
    }

    section#home div.home_intro .item_figure img {
        width: 70%;
    }
}

@media (max-width: 472px) {
    section#home div.home_intro .item_content h1 {
        font-size: 6rem;
    }

    section#home div.home_intro .item_content h3 {
        font-size: 2.5rem;
    }

    section#home div.home_intro .item_content h4,
    section#home div.home_intro .item_content p span {
        font-size: 1.6rem;
    }

    section#home div.home_intro .item_content p img {
        left: 50%;
    }
}

/* **************************** Home About **************************** */

section#home div.home_about {
    margin: 5rem auto 0;
    padding: 2rem 0 8rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#home div.home_about .item_figure {
    position: relative;
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

section#home div.home_about .item_figure img {
    margin: auto;
    width: 60%;
    height: auto;
}

section#home div.home_about .item_figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../Assets/Icons/SpacePattern.png) fixed 50% 50% / 40%;
    box-shadow: inset 0 0 10px 10px var(--mediumBg);
    border-radius: 5rem;
    opacity: 0.2;
    z-index: -1;
}

section#home div.home_about .item_content {
    position: relative;
    padding: 1rem 2rem;
    padding-left: 4rem;
}

section#home div.home_about .item_content h4 {
    position: relative;
    margin: 2rem auto 3rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: "Aquire", "Poppins", sans-serif;
    color: var(--darkwhite);
    text-align: left;
}

section#home div.home_about .item_content h4 span {
    font-size: 6rem;
    color: var(--lightcyan);
}

section#home div.home_about .item_content h4::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 20%;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(
        145deg,
        var(--lightcyan) 40%,
        var(--lightwhite) 80%
    );
}

section#home div.home_about .item_content p {
    margin: 2rem auto;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    color: var(--lightgrey);
    text-align: justify;
}

section#home div.home_about .item_content p span {
    font-weight: 700;
    color: var(--lightwhite);
}

section#home div.home_about .item_content a {
    margin: 1rem auto;
    padding: 0.6rem 1.6rem;
    color: var(--darkwhite);
    background: var(--lightred);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

section#home div.home_about .item_content a span {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

section#home div.home_about .item_content a svg {
    margin: auto 0.2rem;
    font-size: 3rem;
    stroke-width: 1px;
    transition: all 0.3s ease;
}

section#home div.home_about .item_content a:hover {
    background: rgba(255, 0, 85, 0.8);
}

section#home div.home_about .item_content a:hover svg {
    transform: translateX(5px);
}

/* Home About Responsive */
@media (max-width: 768px) {
    section#home div.home_about .item_figure::before {
        background-size: contain;
    }
}

@media (max-width: 472px) {
    section#home div.home_about .item_content {
        padding: 1rem;
    }
}

/* **************************** Styles End **************************** */
