/* **************************** Leaderboard Page Styles **************************** */

body {
    background: var(--darkwhite);
}

/* **************************** Leaderboard Content **************************** */

/* Event Header */
section#leaderboard div.event_header {
    margin: 3rem auto auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#leaderboard div.event_header h2 {
    margin: 1rem auto;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Aquire", "Poppins", sans-serif;
    color: var(--darkblack);
    text-align: center;
    letter-spacing: 1px;
}

section#leaderboard div.event_header h2 span {
    margin: 0.5rem auto;
    display: block;
    padding: 0.2rem 1rem 0.5rem;
    font-size: 3rem;
    color: var(--darkwhite);
    background: var(--darkblack);
}

/* Event Positions */
section#leaderboard div.event_position {
    position: relative;
    margin: 3rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* overflow-x: scroll; */
}

/* Position Card */
section#leaderboard div.event_position .position_card {
    position: relative;
    margin: 2rem auto;
    padding: 3rem;
    width: 45rem;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--darkwhite);
    border-radius: 50%;
    box-shadow: inset 0 0 6px var(--lightgrey);
}

/* Position Card Image Object */
section#leaderboard div.event_position .position_card object.position {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    user-select: none;
}

/* Position Card Details */
section#leaderboard div.event_position .position_card .details {
    margin: 2rem;
    padding: 2rem;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.3);
}

section#leaderboard div.event_position .position_card .details h4 {
    margin: 1rem auto;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--darkblack);
    text-align: center;
    letter-spacing: 1px;
}

section#leaderboard div.event_position .position_card .details p {
    margin: 1rem auto;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    color: var(--lightblack);
    text-align: center;
}

section#leaderboard div.event_position .position_card .details span {
    margin: 1rem auto;
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--darkwhite);
    background: var(--lightBg);
    border-radius: 50%;
    cursor: pointer;
}

section#leaderboard div.event_position .position_card .details img {
    margin: 1rem auto;
    width: 7.5rem;
    height: auto;
}

/* Position Card Work */
section#leaderboard div.event_position .position_card .work {
    margin: auto;
    padding: 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    z-index: 2;
    background: rgba(10, 180, 10, 1);
    clip-path: circle(0% at 50% 80%);
    transition: all 0.5s ease-in-out;
}

section#leaderboard div.event_position .position_card .work.work_view {
    clip-path: circle(100% at 50% 80%);
}

section#leaderboard div.event_position .position_card .work img {
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

section#leaderboard div.event_position .position_card .work span {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    font-size: 3rem;
    color: var(--darkwhite);
    background: var(--lightgreen);
    border-radius: 50%;
    cursor: pointer;
}

/* **************************** Responsive Media **************************** */

@media (max-width: 472px) {
    section#leaderboard div.event_header h2 {
        font-size: 3rem;
    }
    section#leaderboard div.event_header h2 span {
        font-size: 2.5rem;
    }

    section#leaderboard div.event_position .position_card {
        margin: 1rem 0;
        width: 35rem;
        height: 35rem;
    }

    section#leaderboard div.event_position .position_card .details {
        padding: 1rem;
    }

    section#leaderboard div.event_position .position_card .details h4 {
        font-size: 2.2rem;
    }
    section#leaderboard div.event_position .position_card .details p {
        font-size: 1.5rem;
    }
    section#leaderboard div.event_position .position_card .details img {
        width: 5rem;
    }

    section#leaderboard div.event_position .position_card .details h4,
    section#leaderboard div.event_position .position_card .details p,
    section#leaderboard div.event_position .position_card .details span,
    section#leaderboard div.event_position .position_card .details img {
        margin: auto;
    }
}

/* **************************** Styles End **************************** */
