/* **************************** Projects Page Styles **************************** */

body {
    background: var(--darkwhite);
}

/* **************************** Projects Content **************************** */

section#projects div.all_projects {
    position: relative;
    margin: 3rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

section#projects div.project_card {
    position: relative;
    margin: 2rem 1rem;
    width: 44rem;
    height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}

section#projects div.project_card img {
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

section#projects div.project_card:hover img {
    filter: grayscale(1);
    transform: scale(1.05);
}

section#projects div.project_card .project_desc {
    margin: 2rem;
    padding: 3rem;
    position: absolute;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.4);
    opacity: 0;
    transform: translateY(40%);
    transition: all 0.3s ease-in-out;
}

section#projects div.project_card:hover .project_desc {
    opacity: 1;
    transform: translateY(0);
}

section#projects div.project_card .project_desc h4 {
    margin: 2rem auto;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--lightcyan);
    text-align: center;
    letter-spacing: 1px;
    line-height: 2.5rem;
}

section#projects div.project_card .project_desc p {
    margin: 2rem auto;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: var(--lightwhite);
    text-align: center;
    letter-spacing: 1px;
    line-height: 2rem;
}

/* **************************** Responsive Media **************************** */

@media (max-width: 432px) {
    section#projects div.project_card {
        width: auto;
        height: auto;
    }
}

/* **************************** Styles End **************************** */