/* **************************** Header Section Styles **************************** */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 8.5rem;
    z-index: 10;
    background: var(--lightBg);
    transition: all 0.2s ease;
}

header.scrolled {
    padding: 1rem 4rem;
    box-shadow: 5px 0 10px 5px rgba(0, 0, 0, 0.25);
}

/* **************************** Navbar Brand Image **************************** */

header nav a.navbar-brand img {
    width: 6rem;
    height: auto;
}

/* **************************** Navbar Nav Links **************************** */

header nav ul.navbar-nav {
    position: relative;
}

header nav ul.navbar-nav li.nav-item a.nav-link {
    position: relative;
    margin: auto 0.8rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--lightwhite);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
}

header nav ul.navbar-nav li.nav-item a.nav-link:hover {
    background: rgba(0, 0, 0, 0.25);
}

header nav ul.navbar-nav li.nav-item a.nav-link.active {
    background: var(--mediumviolet);
}

header nav ul.navbar-nav li.nav-item a.nav-link.active:hover {
    background: var(--darkviolet);
}

header nav a.logIn,
header nav button.goBack {
    margin: auto 0.5rem;
    padding: 1rem 1.6rem;
    background: var(--mediumviolet);
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a.logIn:hover,
header nav button.goBack:hover {
    background: var(--darkviolet);
}

header nav a.logIn i,
header nav button.goBack i {
    margin: auto 0.5rem auto 0;
    font-size: 2.4rem;
    color: var(--lightwhite);
}

header nav a.logIn span,
header nav button.goBack span {
    margin: auto 0.5rem auto 0;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    color: var(--lightwhite);
}

/* **************************** Navbar Hamburger Menu **************************** */

header nav button.navbar-toggler {
    position: relative;
    width: 50px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.navbar-toggler span.navbar-toggler-icon {
    position: relative;
    width: 90%;
    height: 4px;
    background: var(--darkwhite);
    border-radius: 2px;
    transition: transform cubic-bezier(0.5, 0.1, 0.6, 0.2) 0.2s;
}

button.navbar-toggler span.navbar-toggler-icon:before,
button.navbar-toggler span.navbar-toggler-icon:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--darkwhite);
    border-radius: 2px;
    transition: transform, top, opacity, cubic-bezier(0.5, 0.1, 0.6, 0.2) 0.2s;
}

button.navbar-toggler span.navbar-toggler-icon:before {
    top: -10px;
    left: 0;
}
button.navbar-toggler span.navbar-toggler-icon:after {
    top: 10px;
    left: 0;
}

/* Navbar Hamburger Menu Animation */

button.navbar-toggler.showNavbar span.navbar-toggler-icon {
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
    transform: rotate(225deg);
}

button.navbar-toggler.showNavbar span.navbar-toggler-icon:before {
    top: 0;
    opacity: 0;
    transition: top, opacity, 0.1s ease-out;
}

button.navbar-toggler.showNavbar span.navbar-toggler-icon:after {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s ease-out,
        transform 0.2s cubic-bezier(0.2, 0.6, 0.3, 1) 0.1s;
}

/* **************************** Responsive Media **************************** */

@media (max-width: 1240px) {
    header {
        padding: 1.5rem 2rem;
    }

    header nav ul.navbar-nav li.nav-item a.nav-link {
        padding: 0.8rem;
    }
}

@media (max-width: 992px) {
    header {
        padding: 1.5rem 6rem;
    }

    header.scrolled {
        padding: 1rem 2rem;
    }

    header nav ul.navbar-nav {
        margin: 2rem auto 0;
        padding: 2rem 1rem 0;
    }

    header nav ul.navbar-nav li.nav-item a.nav-link {
        margin: 0.4rem 0.8rem;
        padding: 1rem 3rem;
        text-align: left;
    }

    header nav a.logIn {
        margin: 2rem;
        padding: 1rem 3rem;
        justify-content: flex-start;
    }
}

@media (max-width: 472px) {
    header {
        padding: 1.5rem 2rem;
    }

    header nav ul.navbar-nav {
        padding: 2rem 0 0;
    }

    header nav ul.navbar-nav li.nav-item a.nav-link {
        margin: 0.2rem auto;
        padding: 1rem 2rem;
    }

    header nav a.logIn {
        margin: 2rem auto;
        padding: 1rem 2rem;
    }
}

/* **************************** Styles End **************************** */
