/* **************************** Fonts **************************** */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap");

/* **************************** Components Stylesheets **************************** */

@import url(./header.css);
@import url(./footer.css);
@import url(./flaticon.css);

/* **************************** Site General Settings **************************** */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

@media (max-width: 992px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }
}

body {
    background: var(--mediumBg);
    font-family: "Poppins", sans-serif;
}

:root {
    --darkblack: #3c434e;
    --lightblack: #495464;
    --darkwhite: #ffffff;
    --lightwhite: #f1f6f9;
    --lightgrey: #9ba4b4;
    --darkgrey: #787A91;

    --lightBg: #312e3d;
    --mediumBg: #282533;
    --darkBg: #21222d;

    --lightviolet: #8167e6;
    --mediumviolet: #6961f5;
    --darkviolet: #5d13e7;

    --lightyellow: #fddb3a;
    --lightred: #ff005c;
    --lightblue: #0075f6;
    --lightgreen: #18dc59;
    --lightcyan: #20fdee;
    --lightpink: #ff3838;
    --lightorange: #ff930e;
}

/* **************************** Scroll Bar **************************** */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--lightviolet);
    border-radius: 4px;
}

/* **************************** Selection **************************** */

::selection {
    color: var(--darkwhite);
    background: var(--lightred);
}

/* **************************** User Select None **************************** */

img,
.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@font-face {
    font-family: "Aquire";
    src: url("../../font/Aquire.otf");
}

/* **************************** Breadcrumb **************************** */

div.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8rem auto 4rem;
    padding: 10rem 4rem;
    background: url(../../img/space_bg.jpg) no-repeat 50% 100% / cover;
}

div.breadcrumb h2 {
    margin: 1rem auto 0;
    position: relative;
    font-size: 5rem;
    font-weight: 700;
    font-family: "Aquire", "Poppins", sans-serif;
    color: var(--darkwhite);
    text-align: center;
}

div.breadcrumb span {
    margin: 0.8rem auto 1.2rem;
    width: 8%;
    height: 0.5rem;
    border-radius: 2px;
    background: linear-gradient(145deg, var(--darkviolet), var(--lightviolet));
}

div.breadcrumb p {
    margin: 0 auto 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: var(--lightgrey);
    text-align: center;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    div.breadcrumb {
        padding: 4rem 4rem 6rem;
    }
}
@media (max-width: 472px) {
    div.breadcrumb h2 {
        font-size: 3.5rem;
    }
}

/* **************************** Blockquote **************************** */

blockquote {
    margin: auto auto -2rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Roboto Slab", serif;
    color: var(--darkblack);
    background: rgba(105, 97, 245, 0.1);
    border-left: 4px solid rgba(105, 97, 245, 1);
    border-radius: 0 2px 2px 0;
    font-style: italic;
}

/* **************************** Section Divider **************************** */

div.section_divider {
    margin: 5rem auto;
    width: 90%;
    height: 3rem;
    color: var(--darkviolet);
    background: radial-gradient(currentColor 2px, transparent 2px);
    background-size: calc(10 * 1px) calc(10 * 1px);
    border-radius: 10px;
}

/* **************************** Content Divider **************************** */

span.content_divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.content_divider hr {
    margin: auto 1rem;
    width: 10rem;
    border-top: 2px dashed var(--mediumviolet);
}

span.content_divider i:before {
    font-size: 35px;
    color: var(--mediumviolet);
}
