/* **************************** Waypoints Animation **************************** */

/* ************ Home/Index Page ************ */

/* ************ Home Header ************ */

header.waypoint_80 {
    opacity: 0;
    transition: opacity 0.5s ease;
}
header.waypoint_80.viewpoint {
    opacity: 1;
}

/* ************ Home Footer ************ */
footer.waypoint_70 {
    clip-path: inset(100% 0 0 0);
    transition: clip-path 2s ease;
}
footer.waypoint_70.viewpoint {
    clip-path: inset(0 0 0 0);
}

/* ************ Home Introduction ************ */

section#home_intro.waypoint_50 div.home_intro .item_content h2,
section#home_intro.waypoint_50 div.home_intro .item_content h3,
section#home_intro.waypoint_50 div.home_intro .item_content h4 {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 2s ease;
}

section#home_intro.waypoint_50 div.home_intro .item_content h3 {
    transition-delay: 0.5s;
}
section#home_intro.waypoint_50 div.home_intro .item_content h4 {
    transition-delay: 0.7s;
}

section#home_intro.waypoint_50 div.home_intro .item_content p span {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s ease;
    transition-delay: 0.9s;
}

section#home_intro.waypoint_50.viewpoint div.home_intro .item_content h2,
section#home_intro.waypoint_50.viewpoint div.home_intro .item_content h3,
section#home_intro.waypoint_50.viewpoint div.home_intro .item_content h4,
section#home_intro.waypoint_50.viewpoint div.home_intro .item_content p span {
    clip-path: inset(0 0 0 0);
}

section#home_intro.waypoint_50 div.home_intro .item_content p img {
    clip-path: circle(0% at 0% 0%);
    transition: clip-path 1s ease;
    transition-delay: 0.9s;
}

section#home_intro.waypoint_50 div.home_intro .item_figure img {
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1.5s ease;
}

section#home_intro.waypoint_50.viewpoint div.home_intro .item_content p img,
section#home_intro.waypoint_50.viewpoint div.home_intro .item_figure img {
    clip-path: circle(100% at 50% 50%);
}

/* ************ Home About ************ */

section#home_about.waypoint_40 div.home_about .item_figure::before {
    opacity: 0;
    transition: opacity 1s ease;
}

section#home_about.waypoint_40.viewpoint div.home_about .item_figure::before {
    opacity: 0.2;
}

section#home_about.waypoint_40 div.home_about .item_figure img {
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 2s ease;
}

section#home_about.waypoint_40.viewpoint div.home_about .item_figure img {
    clip-path: circle(100% at 50% 50%);
}

section#home_about.waypoint_40 div.home_about .item_content {
    clip-path: inset(0 0 100% 0);
    transition: clip-path 2s ease;
}

section#home_about.waypoint_40.viewpoint div.home_about .item_content {
    clip-path: inset(0 0 0 0);
}

/* **************************** Waypoints End **************************** */
