/* **************************** Header Section Styles **************************** */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 8rem;
    z-index: 10;
    background: var(--mediumBg);
    transition: all 0.2s ease;
}

header.scrolled {
    padding: 1rem 4rem;
    box-shadow: 5px 0 5px 5px rgba(0, 0, 0, 0.15);
}

/* **************************** Navbar Brand Image **************************** */

header nav a.navbar-brand img {
    width: 6rem;
    height: auto;
}

/* **************************** Navbar Login Btn **************************** */

header nav a.logIn,
header nav button.goBack {
    margin: auto 0.4rem;
    padding: 1rem 1.6rem;
    background: var(--mediumviolet);
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a.logIn:hover,
header nav a.logIn.active,
header nav button.goBack:hover {
    background: var(--darkviolet);
}

header nav a.logIn svg,
header nav button.goBack svg {
    margin: auto 0.5rem auto 0;
    font-size: 2.4rem;
    color: var(--lightwhite);
}

header nav a.logIn span,
header nav button.goBack span {
    margin: auto 0.5rem auto 0;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--lightwhite);
}

@media (min-width: 992px) {
    header nav a#mlogIn {
        display: none;
    }
}
@media (max-width: 992px) {
    header nav a#dlogIn {
        display: none;
    }
}

/* **************************** Navbar Desktop Nav **************************** */

header nav div.desktop_nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header nav div.desktop_nav a.nav_link {
    position: relative;
    margin: auto 0.8rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--lightwhite);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
}

header nav div.desktop_nav a.nav_link:hover {
    background: rgba(0, 0, 0, 0.25);
}

header nav div.desktop_nav a.nav_link.active {
    background: var(--mediumviolet);
}

header nav div.desktop_nav a.nav_link.active:hover {
    background: var(--darkviolet);
}

/* **************************** Navbar Mobile Nav **************************** */

@media (max-width: 992px) {
    header nav div.desktop_nav {
        position: absolute;
        top: 0;
        left: 0;
        padding: 2rem 6rem 3rem;
        transform: translate(0, 15%);
        width: 100%;
        flex-direction: column;
        background: var(--mediumBg);
        clip-path: inset(0 0 100% 0);
        transition: all 0.4s ease;
    }
    header nav div.desktop_nav.active {
        clip-path: inset(0 0 0 0);
    }
}

/* **************************** Navbar Hamburger Menu **************************** */

header nav button.menu_btn {
    position: relative;
    width: 4rem;
    height: 4rem;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.menu_btn span.menu_icon {
    position: relative;
    width: 90%;
    height: 4px;
    background: var(--darkwhite);
    border-radius: 2px;
    transition: transform cubic-bezier(0.5, 0.1, 0.6, 0.2) 0.2s;
}

button.menu_btn span.menu_icon:before,
button.menu_btn span.menu_icon:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--darkwhite);
    border-radius: 2px;
    transition: transform, top, opacity, cubic-bezier(0.5, 0.1, 0.6, 0.2) 0.2s;
}

button.menu_btn span.menu_icon:before {
    top: -1rem;
    left: 0;
}
button.menu_btn span.menu_icon:after {
    top: 1rem;
    left: 0;
}

/* Navbar Hamburger Menu Animation */

button.menu_btn.active span.menu_icon {
    transition-delay: 0.1s;
    transition-timing-function: cubic-bezier(0.2, 0.6, 0.3, 1);
    transform: rotate(225deg);
}

button.menu_btn.active span.menu_icon:before {
    top: 0;
    opacity: 0;
    transition: top, opacity, 0.1s ease-out;
}

button.menu_btn.active span.menu_icon:after {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s ease-out,
        transform 0.2s cubic-bezier(0.2, 0.6, 0.3, 1) 0.1s;
}

@media (min-width: 992px) {
    header nav button.menu_btn {
        display: none;
    }
}

/* **************************** Responsive Media **************************** */

@media (max-width: 1240px) {
    header,
    header.scrolled {
        padding: 1rem 2rem;
    }

    header nav div.desktop_nav a.nav_link {
        margin: auto 0.6rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 992px) {
    header,
    header.scrolled {
        padding: 1rem 0;
    }

    header nav a.navbar-brand img,
    header nav button.menu_btn {
        margin: auto 4rem;
    }

    header nav div.desktop_nav a.nav_link {
        margin: 0.6rem 0.8rem;
        width: 100%;
        text-align: left;
    }

    header nav a.logIn {
        width: 100%;
        margin: 0.4rem 0.8rem;
        padding: 0.8rem 1rem;
        justify-content: flex-start;
    }
}

@media (max-width: 472px) {
    header nav a.navbar-brand img,
    header nav button.menu_btn {
        margin: auto 2rem;
    }
    header nav div.desktop_nav {
        padding: 2rem 3rem 3rem;
    }
}

/* **************************** Styles End **************************** */
