/* **************************** Footer Section Styles **************************** */

footer {
    position: relative;
    width: 100%;
    padding: 15rem 4rem 2rem;
    background: var(--mediumBg);
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url(../../img/space_pattern.png); */
    background-size: contain;
    opacity: 0.05;
}

footer div.footer_content {
    position: relative;
    margin: auto 4rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer div.footer_desc img {
    width: 100px;
    height: auto;
}

footer div.footer_desc h4 {
    margin: 2rem auto;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--lightwhite);
    line-height: 3rem;
    letter-spacing: 0.5px;
}

footer div.footer_desc p {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--lightwhite);
    letter-spacing: 0.5px;
}

footer div.footer_desc h6 {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: var(--lightwhite);
    letter-spacing: 0.5px;
}

footer div.footer_desc .social_links {
    margin: 2rem 0;
}

footer div.footer_desc .social_links a {
    margin: auto 2rem auto 0;
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--darkwhite);
    background: var(--lightviolet);
    border-radius: 50%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;
}

footer div.footer_desc .social_links a:hover {
    background: var(--lightBg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

/* **************************** Responsive Media **************************** */

@media (max-width: 1240px) {
    footer {
        padding: 4rem 4rem 0;
    }
}

@media (max-width: 992px) {
    footer div.footer_desc img {
        width: 60px;
    }
    footer div.footer_desc .social_links a {
        padding: 0.7rem;
    }
}

@media (max-width: 472px) {
    footer {
        padding: 4rem 2rem 0;
    }
}

/* **************************** Styles End **************************** */
